.title {
  margin-bottom: 28px;
}

.container {
  /* border: 1px solid #747474; */
  border-radius: 6px;
  padding: 12px;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px 10px rgba(190, 190, 188, 0.395);
  margin-top: 25px;
}

.hr {
  border: 0;
  border-radius: 2px;
  height: 1px;
  background: #b0b0b0;
  margin: 11px 0;
}

.authContainer {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.authContainer h1 {
  text-align: center;
  margin-bottom: 20px;
}

.topContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}