.container {
  display: flex;
  gap: 12px;
  align-items: center;
}

.navItem {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  color: black;
  position: relative;
  text-decoration: none;
}

.active {
  font-weight: 600;
}

.navItem:hover {
  color: #717171;
}

.navItem::after {
  content: '';
  display: block;
  border-radius: 2px;
  width: 0;
  height: 4px;
  background: #000000;
  position: absolute;
  bottom: -14px;
  left: 0;
  transition: width 0.3s ease;
  z-index: 999;
}

.navItem.active::after {
  width: 100%;
}
